{% extends 'base.html.twig' %}

{% block title %} Admin Liste des Chantiers{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>

    <h1> {%block pageTitle %} Interface chantiers {% endblock %} </h1>

    <nav>
    <a href="{{ path('app_worksite_create') }}"> Ajouter un chantier</a>
    </nav>


    {% block subTitle %} {% endblock %}

    {% for worksite in worksites %}
        <div>
            <h4> Titre : {{ worksite.title }} </h4> 
            <h5> Catégorie : {{ worksite.category.name }} </h5>       

            <p class="description"> Description : {{ worksite.description }}</p>

            {% if worksite.imageFilename %}
            <p>              
            <img src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
            {% endif %}
            </p>
            
            <a href="{{ path('app_worksite_update' , {id: worksite.id})}}"> Modifier</a>
            <a href="{{ path('app_worksite_remove' , {id: worksite.id})}}"> Supprimer</a>
         
        </div>
    {% endfor %}
{% endblock %}