{% extends 'base.html.twig' %}

{% block title %} Accueil B&L {% endblock %}

{% block body %}

<!-- Masthead-->
        <header class="masthead">
            <div class="container">
            <div class="bienvenue">
            Bienvenue<br>chez
            </div>
                <div class="masthead-heading text-uppercase"><h1 class="seo">BL Plomberie<h1></div>
                {# phrase d'accroche supprimée du "masthead-subheading" ci-dessous & ajout des <br> pour compenser l'espace #}
                <div class="masthead-subheading"> <br><br><br></div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#contact">Contactez-nous</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">
                        <div>
                            <span style="color:var(--bs-primary);"><strong>Fiables et professionnels</strong></span> 
                            <br>nous intervenons pour des prestations en installation, rénovation, dépannage.
                        </div>
                        <br>
                        <div>
                            <span style="color:var(--bs-primary);"><strong>À votre écoute </strong></span>
                            <br>afin de connaître au mieux vos attentes et vous proposer des solutions adaptées à vos besoins.
                        </div>
                        <br>
                        <div>
                            <span style="color:var(--bs-primary);"><strong>Notre expertise</strong></span> 
                            <br>pour vous offrir le meilleur résultat à des tarifs compétitifs.
                        </div>
                    </h3> 
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                        </span>
                        <h4 class="my-3">Plomberie générale, dépannage</h4>
                        {# <p class="text-muted"> -- zone de texte -- Plomberie générale, dépannage </p> #}
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-faucet-drip"></i>
                        </span>
                        <h4 class="my-3">Fuites d'eau</h4>
                        {# <p class="text-muted"> -- zone de texte -- Fuites d'eau </p> #}
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-bath"></i>
                        </span>
                        <h4 class="my-3">Rénovation de Salle de bain</h4>
                        {# <p class="text-muted"> -- zone de texte -- Salle de bain </p> #}
                    </div>
                </div>  

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-sink"></i>
                        </span>
                        <h4 class="my-3">Installation de Robinet, Lavabo</h4>
                        {# <p class="text-muted"> -- zone de texte -- Robinet, Lavabo </p> #}
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-toilet"></i>
                        </span>
                        <h4 class="my-3">Installation de WC</h4>
                        {# <p class="text-muted"> -- zone de texte -- WC </p> #}
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-temperature-arrow-up"></i>
                        </span>
                        <h4 class="my-3">Chauffe-eau, Ballons d'eau chaude</h4>
                        {# <p class="text-muted"> -- zone de texte --Chauffe-eau </p> #}
                    </div>
                </div>
            </div>           
        </section>

        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nos Chantiers</h2>
                    <h3 class="section-subheading text-muted">Nos réalisations par catégorie :</h3>
                </div>

                <div class="row">      
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio Salle de bain-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/bathPortfolio.jpg" alt="..." />
                            </a>
                            <a data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">Salle de bain</div> 
                                    {# <div class="portfolio-caption-subheading text-muted">Illustration</div> #}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio WC-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/wcPortfolio.jpg" alt="..." />
                            </a>
                            <a data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">WC</div>
                                    {# <div class="portfolio-caption-subheading text-muted">Graphic Design</div> #}
                                </div>
                            </a>    
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio Cuisine-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/kitchenPortfolio.jpg" alt="..." />
                            </a>
                            <a data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">Cuisine</div>
                                    {# <div class="portfolio-caption-subheading text-muted">Identity</div> #}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio Autre-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/autrePortfolio.jpg" alt="..." />
                            </a>
                            <a data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">Autre</div>
                                    {# <div class="portfolio-caption-subheading text-muted">Branding</div> #}
                                </div>
                            </a>
                        </div>
                    </div>                   
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nos +</h2>
                    <h3 class="section-subheading text-muted">Notre offre de <span style="color:var(--bs-primary);"><strong>contrats de maintenance</strong></span> 
                    vous apporte une vérification et un entretien régulier de vos installations, avec une mise à jour des normes de sécurité.
                    <br>
                    <br>
                    Disposant d'un large <span style="color:var(--bs-primary);"><strong>réseau d'artisans</strong></span>, nous vous accompagnons pour vous orienter vers nos partenaires dans les spécialités Electricité, Vitrage, et Maçonnerie.
                    </h3>
                </div>
                <!-- contenu timeline "About supprimé -->
                {# <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2015</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2020</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul> #}
            </div>
        </section>
        <!-- Team-->
        {# <section class="page-section bg-light" id="team">
       
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
            </div>
        </section> #}
        <!-- Clients-->
       
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactez-nous</h2>
                    {# <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> #}
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <div class="infoContact">Vous souhaitez un devis pour des travaux de plomberie, 
                                chauffage, ou pour votre salle de bain ?<br>
                                Besoin d’un dépannage urgent ?
                                </div>
                                    <div class="coordonnees">
                                        <i class="fa-solid fa-phone" style="color: #111;"></i>
                                        <span class="text-telephone">
                                        <p>06.59.82.04.01</p>
                                        </span>
                                    </div>
                                        
                                    <div class="coordonnees">
                                        <i class="fa-solid fa-envelope" style="color: #111;"></i>
                                        <span class="text-mail">
                                        <p>louis.barlemont@gmail.com</p>
                                        </span>
                                    </div>        
                            </div>      
                        </div>

                        <div class="col-md-6">
                            {# <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div> #}
                             <div>
                             <div class="infoContact"> <strong>Zone d'intervention :</strong></div>
                                <div class="infoContact"> Bordeaux et communes voisines</div>
                                <div class="map">
                                    <iframe 
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14253.826888252299!2d-0.5985461297174622!3d44.855828165447875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55280f64b95555%3A0x4ba4bd40902d2892!2s64%20Rue%20de%20Lisleferme%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1679923245747!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    {# <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div> #}
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    {# <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> #}
                    <!-- Submit Button-->
                    {# <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div> #}
                </form>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; bl-plomberie.fr </div>
                    {# <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div> #}
                    <div class="col-lg-4 text-lg-end">
                        <!-- Lien popup_INFORMATIONS LEGALES -->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">Informations Légales</div>
                                </div>
                            </a>
                        </div>
                        {# <a class="link-dark text-decoration-none" href="#!">Terms of Use</a> #}
                    </div>
                </div>
            </div>
        </footer>

        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 - SALLE DE BAIN - modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Galerie</h2>
                                    <p class="item-intro text-muted">Catégorie Salle de bain</p>
                                    {# <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." /> #}       
                                    {# <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul> #}
                                    
                                    <div>
                                    {% for worksite in sallebains %}  

                                        <h4> {{worksite.title}} </h4> {# Nom du chantier #}
                                        {# <h5> Catégorie : {{ worksite.category.name }} </h5> #}
                                        <p class="description"> {{worksite.description}} </p>{# Description du chantier #}

                                        {% if worksite.imageFilename %}
                                        <p>              
                                        <img class="contenu-portfolio" src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
                                        {% endif %}
                                        </p>      
                                    {% endfor %} 
                                       
                                    </div>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Retour à l'accueil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio item 2 - WC - modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Galerie </h2>
                                    <p class="item-intro text-muted">Catégorie Sanitaire</p>
                                    {# <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." /> #}
                                    {# <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul> #}
                                    {% for worksite in Wcs %}  
                                        <h4> {{worksite.title}} </h4> {# Nom du chantier #}
                                        {# <h5> Catégorie : {{ worksite.category.name }} </h5> #}
                                        <p class="description"> {{worksite.description}} </p>{# Description du chantier #}

                                        {% if worksite.imageFilename %}
                                        <p>              
                                        <img class="contenu-portfolio" src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
                                        {% endif %}
                                        </p>      
                                    {% endfor %} 

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Retour à l'accueil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio item 3 - CUISINE - modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Galerie </h2>
                                    <p class="item-intro text-muted">Catégorie Cuisine</p>
                                    {# <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." /> #}
                                    {# <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul> #}
                                    {% for worksite in cuisines %}  
                                        <h4> {{worksite.title}} </h4> {# Nom du chantier #}
                                        {# <h5> Catégorie : {{ worksite.category.name }} </h5> #}
                                        <p class="description"> {{worksite.description}} </p>{# Description du chantier #}

                                        {% if worksite.imageFilename %}
                                        <p>              
                                        <img class="contenu-portfolio" src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
                                        {% endif %}
                                        </p>      
                                    {% endfor %} 

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Retour à l'accueil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 - Autre - modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase"> Galerie </h2>
                                    <p class="item-intro text-muted">Catégorie Autres</p>
                                    {# <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." /> #}
                                    {# <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul> #}

                                    {% for worksite in autres %}  
                                        <h4> {{worksite.title}} </h4> {# Nom du chantier #}
                                        {# <h5> Catégorie : {{ worksite.category.name }} </h5> #}
                                        <p class="description"> {{worksite.description}} </p>{# Description du chantier #}

                                        {% if worksite.imageFilename %}
                                        <p>              
                                        <img class="contenu-portfolio" src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
                                        {% endif %}
                                        </p>      
                                    {% endfor %} 

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Retour à l'accueil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- INFORMATIONS LEGALES Portfolio item 7 modal popup-->
        
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Informations légales</h2>
                                    <p class="item-intro text-muted">Informations sur la société</p>
                                    {# <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p> #}
                                            <p>Le présent site est la propriété de la société BL Plomberie.</p>
                                            {# SARL au capital de xxxxxxxxxx Euros #}
                                            <p>Raison sociale : BL Plomberie
                                            <br>
                                            Directeur : Barlemont Louis
                                            <br>
                                            Adresse : 64 rue de Lisleferme, 33000 Bordeaux
                                            <br>
                                            Numéro unique d'identification (N°SIREN) : 818 888 398</p>
                                            
                                            <p>Tél. : 06.59.82.04.01</p>

                                            <p>Email : louis.barlemont@gmail.com</p>

                                            <p>Prestataire technique (hébergeur) : Hostinger</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Retour à l'accueil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
      



    {% block subTitle %} {% endblock %}


{% endblock %}