{% extends 'base.html.twig' %}

{% block title %} Liste Chantiers B&L {% endblock %}

{% block body %}
    <h2> {%block pageTitle %} Galerie de nos chantiers  {% endblock %} </h2>
    <div class="SearchButton">
            <a href="{{ path ('app_NoAdmin_home_search') }}"> Recherche par catégorie : </a>
    </div>

    {% block subTitle %} {% endblock %}


    {% for worksite in worksites %}
    <div>
        <h4> {{worksite.title}} </h4> {# Nom du chantier #}
        <h5> Catégorie : {{ worksite.category.name }} </h5>
        <p class="description"> {{worksite.description}} </p>{# Description du chantier #}

        {% if worksite.imageFilename %}
        <p>              
        <img src="{{ asset ('uploads/' ~ worksite.imageFilename) }}" alt="{{ worksite.title }}" />
        {% endif %}
        </p>
        
    </div>

    <hr/>         

     {% endfor %} 


{% endblock %}